:root {
  --bg-color:#272727;
  --bg-contrast-color: #16161a;

  --main-text-color: white;
  --main-text-color-hover: black;
  --primary-text-color: gray;
  --primary-text-color-hover: white;
  --secondary-text-color: black;
  --contrast-text-color: #599e94;

  --button-color: white;
  --warning-color:#e27c7c;
  --confirm-color: #599e94;

  --secondary-color: #6d4b4b;
  --primary-color: #3c4e4b;

  --input-main-bg-color: lightgray;
  --input-secondary-bg-color: #a86464;
  --input-primary-bg-color: #466964;

  --white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: math, monospace, ui-monospace, system-ui, fantasy;
  font-size: calc(10px + 2vmin);

  background-color: var(--bg-color);
  color: var(--main-text-color);

  input, textarea {
    font-family: inherit;
  }
}

.wrapper {
  height: 100%;
  max-width: 1024px;

  width: 100%;
  min-width: 450px;

  display: flex;
  flex-direction: column;
}